<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.auro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Director.Director_Request_Details"></activity>
        <activity android:name=".Project_Manager.Request_Batch_Details" />
        <activity android:name=".Pending_Batch_Request" />
        <activity android:name=".Center_Incharge.Create_Batch" />
        <activity android:name=".Center_Incharge.Enroll_Student" />
        <activity android:name=".Project_Manager.ProjectManager_AssignBatch" />
        <activity android:name=".Director.Project_Manager_Details" />
        <activity android:name=".Director.Project_Manager_List" />
        <activity android:name=".Director.Assign_Batch" />
        <activity android:name=".Director.Add_Standard" />
        <activity android:name=".Change_Password" />
        <activity android:name=".Director.Registration" />
        <activity android:name=".HomePage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>